.GroupA {position:absolute; left:30px}

.GroupB {position:absolute; left:230px}

.GroupC {position:absolute; left:430px}

.GroupD {position:absolute; left:630px}

.GroupE {position:absolute; left:830px}

.GroupF {position:absolute; left:1030px}

.GroupG {position:absolute; left:1230px}

.GroupH {position:absolute; left:1430px}
