html * {
    font-size: 14px;
    line-height: 1.3;
    color: #2020131;
    font-family: Verdana, sans-serif;
 }

.WCheader{position:absolute; top: 0px; left:490px; font-size: 50px;}

.GroupA {position:absolute; top: 100px; left:30px}
.GroupB {position:absolute; top: 100px; left:255px}
.GroupC {position:absolute; top: 100px; left:480px}
.GroupD {position:absolute; top: 100px; left:705px}
.GroupE {position:absolute; top: 100px; left:930px}
.GroupF {position:absolute; top: 100px; left:1155px}
.GroupG {position:absolute; top: 100px; left:1380px}
.GroupH {position:absolute; top: 100px; left:1605px}

/*.headerGroupMatches {position:absolute; left:30px; top:120px}*/
.GroupmatchesA {position:absolute; top: 230px; left:30px}
.GroupmatchesB {position:absolute; top: 230px; left:255px}
.GroupmatchesC {position:absolute; top: 230px; left:480px}
.GroupmatchesD {position:absolute; top: 230px; left:705px}
.GroupmatchesE {position:absolute; top: 230px; left:930px}
.GroupmatchesF {position:absolute; top: 230px; left:1155px}
.GroupmatchesG {position:absolute; top: 230px; left:1380px}
.GroupmatchesH {position:absolute; top: 230px; left:1605px}

.headerRoundOf16Matches {position:absolute; top:385px; left:30px}
.RoundOf16Matches {position:absolute; top: 410px; left:30px}

.headerQuarterFinals {position:absolute; top:605px; left:30px }
.QuarterFinals {position:absolute; top: 630px; left:30px}

.headerSemiFinals {position:absolute; top:735px; left:30px }
.SemiFinals {position:absolute; top: 760px; left:30px}

.headerFinals {position:absolute; top:815px; left:30px }
.Finals {position:absolute; top: 840px; left:30px}

.simButton {position:absolute; top: 930px; left:30px}